{% extends "AppFinal/padre.html" %} 


{% block titulo %}
Crea tu reseñas de Camisas de Futbol
{% endblock %}

{% block descripcion %} 

{% endblock %} 

{% block crear_reseñas %}
<p>--------------------------------------------------------------- </p>
    <form action="" enctype="multipart/form-data" method="POST">  {% csrf_token %}
        <table>
            {{formcamisas1.as_table}}
        </table>
        <input type="submit" value="Enviar">
    </form>
<p>--------------------------------------------------------------- </p>
{% endblock %}
